DISCORD_TOKEN=
GUILD_ID=
LOG_LEVEL=default
BM_TOKEN=
GITHUB_APP_KEY=
GITHUB_APP_CLIENT_ID=
BEARER=
FORUM_DB_DSN=readonly_user:password@tcp(127.0.0.1:3306)/xenforo
LOA_NODE_IDS=180,400,540,178,369
TEMPVC_HUB_CHANNEL_ID=
TEMPVC_CATEGORY_ID=
SENTRY_DSN=
APP_ENV=development
